<%= sidebar_for("Broadcast") %>

<% @broadcasts.each do |broadcast| %>
  <p class="broadcast"><%= link_to broadcast.title, broadcast %><span>浏览次数:<%= broadcast.hits.size%></span></p>
  <% if can? :manage, broadcast%>
    <%= link_to '编辑', edit_broadcast_path(broadcast) %> |
    <%= link_to '删除', broadcast, :confirm => '确定删除么?', :method => :delete %>
  <% end %>
<% end %>

<br />

<%= will_paginate @broadcasts %>
