<%= sidebar_for("Product") %>

<div id='products'>
<ul>
<% @products.each do |product| %>
  <li class='product_item'>
    <%= link_to image_tag(product.image(:thumb)), product %><br>
    <span><%= link_to product.name, product %></span>
    <% if can? :manage, product %>
      <br><span><%= link_to '编辑', edit_product_path(product) %></span>
      | <span><%= link_to '删除', product, :confirm => "确定删除么？", :method => "delete" %></span>
    <% end %>
  </li>
<% end %>
</ul>
</div>

<br />

<%= will_paginate @products %>
