<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= stylesheet_link_tag "style"%>
    <%= stylesheet_link_tag 'jquery.treeview' %>
    <%= stylesheet_link_tag 'flash', 'table'%>
    <%= javascript_include_tag "flashobject" %>
    <%= javascript_include_tag 'jquery.min', 'jquery.treeview.min', 'custom', 'flash'%>

    <%= include_tiny_mce_if_needed %>
    <%= formtastic_stylesheet_link_tag %>

    <%= yield :head%>

    <title><%= @basic_info.website_title %></title>
  </head>

  <body>
    <div id="page">
      <%= render :partial => "users/user_bar" %>
      <div id="header">
        <div id='logo'><%= image_tag "logo.jpg", :width => "180px", :alt => "DoubleStar"%></div>
        <div id='banner'><%= image_tag "banner.jpg", :width => "800px"%></div>
      </div>

      <div id="nav">
        <ul>
          <li class='<%= "selected" if params[:controller] == "home" %>'><%= link_to "站点首页", home_path %></li>
          <li class='<%= "selected" if params[:controller] == "pages" %>'><%= link_to "关于我们", "/about_us/公司简介" %></li>
          <li class='<%= "selected" if params[:controller] == "broadcasts" %>'><%= link_to "新闻中心", broadcasts_path %></li>
          <li class='<%= "selected" if params[:controller] == "products" %>'><%= link_to "产品展示", products_path %></li>
          <li class='<%= "selected" if params[:controller] == "assets" %>'><%= link_to "资源下载", assets_path %></li>
          <li class='<%= "selected" if params[:controller] == "recuritments" %>'><%= link_to "人才招聘", recruitments_path %></li>
          <li class='<%= "selected" if params[:controller] == "messages" %>'><%= link_to "信息反馈", messages_path %></li>
          <% if can? :manage, Category %>
            <li class='<%= "selected" if params[:controller] == "categories" %>'><%= link_to "类别", categories_path %></li>
          <% end %>
          <% if can? :edit, BasicInfo %>
            <li class='<%= "selected" if params[:controller] == "basic_infos" %>'><%= link_to "基本信息", basic_information_path %></li>
          <% end %>
          <li class='search_box'><%= render :partial => "common/search"%></li>
        </ul>
      </div>

      <% if controller_name == 'pictures' %>
        <%= yield :scenes %>
      <% else %>
        <%= flashobject_tag "/swfs/slides.swf", :size => "980x150" %>
      <% end %>

      <div id="main"> 
        <div id="content-wrapper"> 
          <div id="content">
            <% flash.each do |key, msg| %>
              <p class="<%=key%>"><%= h msg%><span>X</span></p>
            <% end %>
            <p><small><%= render_crumbs unless %w(home sessions users categories orders pictures basic_infos search).include?(controller_name) %></small></p>
            <%= yield %>
          </div>
        </div>
        <div id="sidebar-wrapper"> 
          <div id="sidebar"> 
            <%= yield :sidebar%>
          </div>
        </div>
      </div>
      <div style="clear:both"></div> 
    </div>

    <div id="footer-wrapper">
      <div id="footer">
        <div id='partner'>
          友情链接:<a href="http://www.doublestar.com.cn">青岛双星集团</a>
        </div>
        <p>
          <%= @basic_info.company_name%>© 2008-2010 版权所有<a href="http://www.miibeian.gov.cn/"><%= @basic_info.icp_serial_number%></a><br>
          邮件: <%=@basic_info.company_email%> 电话: <%=@basic_info.company_phone%> 传真:<%=@basic_info.company_fax%> 地址: <%=@basic_info.company_address%>
        </p>
      </div> 
    </div>
  </body>
</html>
